<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-9">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/home.css">
  <title>Document</title>
</head>
<header>
  <div class="topline">
    <h1 class="headline">
      <a style="font-family: serif;">Post Diary</a>
    </h1>
    <div class="headhead">
      <ul class="nav-list">
        <li class="nav-list-item">
          <img src="Post.png" style="height:13px; width:13px;"><a href="make.html" style="font-family: serif;">  Post</a>
        </li>
        <li class="nav-list-item"><img src="whiteHeart.png" style="height:13px; width:13px;"><a href="detail.html" id="detail" style="font-family: serif;">  like</a></li>
         
        <li class="nav-list-item"><img src="SignOut.png" style="height:13px; width:13px;"><a href="login.html" id="signOut" style="font-family: serif; position: relative;">  signOut</a></li>
        <li id="greeting" style="list-style:none; color:rgb(241, 245, 13); left:950px; top:25px; position:absolute; font-family: serif;"></li>
      </ul>

    </div>
   

  </div>
</header>
<div id="postView" style="background-color:whitesmoke;">
<div id="app" style="position:relative;">
  <h2>さあ、始めよう。</h2>
  <img src="Search.png" style="height:20px; width:20px; right:5px; top:6px; position:relative;"><input type="search" name="search" placeholder="キーワードを入力" v-model="keyword">
  <input type="submit" name="submit" value="検索" v-on:click="search">

    
    <ul class="task_list" v-for="onetitle in titles">
    <li v-if="onetitle.title.includes(keyword) || onetitle.content.includes(keyword) || onetitle.userName.includes(keyword)"  style="list-style:none; position:relative;">
    <hr  style="height:6px; background-color:#ff9999;">
    <br>
    <button style="left:20px; position: absolute;" v-if="onetitle.userName == displayName" v-on:click="postDelete(onetitle.id)">✖</button>
    <button style="left:40px; position: absolute;">🚓通報</button>
    <h4 style="font-weight:heavy;font-family: serif;">{{onetitle.title}}</h4>
    <br>
    <p style="font-family: serif; ">{{onetitle.content}}</p>
    <br>
    <p style="font-size:10px;">poster {{onetitle.userName}}</p>
    <p style="font-size:10px;">{{ onetitle.postDate }}</p>
    <br>
    <button style="color:blue; background-color:yellow" v-on:click="clicked(onetitle.id, onetitle.goods.length)"  v-for="onesrc in onetitle.src"><img v-cloak v-bind:src="onesrc" class="imageClass" v-bind:id="onetitle.id"><p style="display:inline;">{{onetitle.goods.length}}</p></button>
    <br>
    <br>
    <textarea type="text" placeholder="コメント入力" v-model="comment" style="resize:none;" rows="4" cols="40"></textarea>
    <br>
    <p style="color:red;" v-if="display" v-cloak>何か入力してください。</p>
    <button style="background-color:blue; color:white;" v-on:click="commentFunc(onetitle.id)">コメントする</button>
    <br>
    <br>
    <h5 v-if="commentAll">コメント一覧</h5>
    <ul v-for="onecomment in comments">
      <li style="list-style:none;" v-if="onecomment.postid == onetitle.id">{{onecomment.content}} by <a style="color:cadetblue; cursor:pointer;" v-on:click="userClick(onecomment.name)">{{onecomment.name}}</a><button v-on:click="deleteComment(onecomment.commentID)" v-if="onecomment.name ==  displayName" >削除</button></li>
    </ul>
    
    <br>
    <hr>
    
    </li>
    </ul>

</div> 
</div>
<footer>

  <p><small>@Rio Nagasaki</small></p>
</footer>

<!-- ここからJs -->
<script type="module">
  // Firebase Setting
  import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js';
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
  import { getAuth, createUserWithEmailAndPassword, signOut, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-auth.js"
  import { getFirestore } from 'https://www.gstatic.com/firebasejs/9.6.6/firebase-firestore.js';
  import { collection, addDoc, setDoc, getDocs, where, query, orderBy, updateDoc, arrayUnion, arrayRemove, doc, onSnapshot, getDoc, Timestamp, deleteDoc } from 'https://www.gstatic.com/firebasejs/9.6.6/firebase-firestore.js';
  import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js'

  const firebaseConfig = {
    apiKey: "AIzaSyDIG_J2vpD56h-nVci51tJdBHfBXPOyaiw",
  authDomain: "fir-app-6f219.firebaseapp.com",
  projectId: "fir-app-6f219",
  storageBucket: "fir-app-6f219.appspot.com",
  messagingSenderId: "660943630407",
  appId: "1:660943630407:web:a068b140722aa7c0c68162",
  measurementId: "G-6QG0HP0Y44"
  };

  const app = initializeApp(firebaseConfig);
  const db = getFirestore(app);
  //ここまで

  let init = new Vue({
    el: '#app',
    data: ({
      good: true,
      titles:[],
      comment:'',
      commentID:'',
      comments:[],
      display: false,
      commentAll: false,
      displayName:'',
      deleteButton:false,
      userid:'',
      keyword:''
    }),
    methods:({
      mainPost: async function(){
    //firestoreデータ取得
    
    const querySnapshot = await getDocs(query(collection(db, "post"),orderBy('date', 'desc')));
    querySnapshot.forEach((doc1) => {
      
      let date = String(doc1.data().date.toDate());
      let displayDate = date.slice(0,21);
      let title = {
        title: doc1.data().title,
        content: doc1.data().contents,
        userName: doc1.data().user_name,
        id: doc1.id,
        goods: doc1.data().good,
        postDate: displayDate,
        Comment: doc1.data().comment,
        sortDate: doc1.data().date.toDate(),
        src: [],
        commentOK:[]
      }
      
  
     this.titles.push(title);
    
     const auth = getAuth();
      onAuthStateChanged(auth, (user) => {
        //signed up user exist!
        if (user) {
          console.log(user);
          const uid = user.uid;
          this.userid = uid;
          console.log(this.userid);
          const displayName = user.displayName;
          this.displayName = displayName;


         
          console.log(displayName);
          const goodNumber = doc1.data().good;
           let newArray = Object.values(goodNumber);
         
            if(newArray.find(value =>
            value === uid)){
             title.src.push("hearted.png");
              
            }else{
              title.src.push("unheart.png");
            }
        }else{
            
            location.href = "login.html"
        }
        })
      
    })
  },
  mainComment: async function(){

    this.comments.length = 0;
    const querySnapshot1 = await getDocs(query(collection(db,"comment"),orderBy('date', 'desc')));
    querySnapshot1.forEach((doc2)=>{
      let come = {
        name: doc2.data().name,
        content: doc2.data().comment,
        postid: doc2.data().psD,
        commentID: doc2.id
      }

      this.comments.push(come);

      
    })
    
  },
  //いいねがクリックされたとき
 clicked: async function(e, goodnum){
      const docRef = doc(db, "post", e);
      const docSnap = await getDoc(docRef);
      console.log(docSnap.data().good);
      let imageTouched = document.getElementById(e);
      console.log(`eのimage${imageTouched.src} eのid${imageTouched.id}`);
      let goodnumnum = imageTouched.nextElementSibling
      console.log(typeof Number(goodnumnum.innerHTML))
      const auth = getAuth();
      onAuthStateChanged(auth, (user) => {
        
        if (user) {
          const uid = user.uid;
          this.goodNumber = goodnum
            if(docSnap.data().good.find(value =>
            value === uid)){
              async function ff(){
                
                const washingtonRef = doc(db, "post", imageTouched.id);
                console.log(`arrayRemove:${imageTouched.id}`);
                await updateDoc(washingtonRef, {
              good: arrayRemove(uid)
              })
              imageTouched.src = "unheart.png";
              goodnumnum.innerHTML = Number(goodnumnum.innerHTML) - 1;
              }
              ff();
              

            }else{
              async function gg(){
                const washingtonRef = doc(db, "post", imageTouched.id);
                console.log(`arrayUnion:${imageTouched.id}`);
                await updateDoc(washingtonRef, {
              good: arrayUnion(uid)
              })
              imageTouched.src = "hearted.png";
              goodnumnum.innerHTML = Number(goodnumnum.innerHTML) + 1;
              }
              gg();
              
              
            }
            
        }else{

        }
        })
    
        
     },

     userClick: async function(username){
         console.log(username);
         this.comment = this.comment + '<< ' + username;
     },
     //コメント投稿されたとき
     commentFunc: async function(e){
        if (this.comment === ''){
          this.display = true;
          return
        }
        const docData = {
          name: this.displayName,
          userID: this.userid,
          psD: e,
          comment: this.comment,
          date: new Date()
        }
        await addDoc(collection(db,"comment"), docData);
        this.display = false;
        this.comment = "";
        init.mainComment();
        // const docRef = doc(db, "post", e);
        // const docSnap = await getDoc(docRef);
        // const washingtonRef = doc(db, "post", e);
        //         await updateDoc(washingtonRef, {
        //       comment: arrayUnion(`${this.comment} by${this.displayName}`)
        //       })
         
        //       this.comment = '';
        //       this.display = false;
        //       location.reload();
              
     },

     //コメントが消されたとき
     deleteComment: async function(e){
      await deleteDoc(doc(db, "comment", e));
      init.mainComment();
       
     },
     search: async function(){
       console.log("aaa");
       console.log(this.keyword);
      //  if (this.keyword === ""){
      //     init.titles.length = 0;
      //     init.mainPost();
      //     init.mainComment();
      //     return
      //  }

      //  const querySnapshot = await getDocs(collection(db, "post"));
      //  console.log(querySnapshot);
      //  let array = [];
      //   querySnapshot.forEach((doc1) => {
      //   console.log(doc1.data());
      //   let check = doc1.data().title.includes(this.keyword);
      //   if (check){
      //      array.push(doc1.data().title);
      //   }
      //     console.log(array);
          
      //   }
      //   )
    },
    postDelete: async function(e){
      await deleteDoc(doc(db, "post", e));
      this.titles = [];
      init.mainPost();
      init.mainComment();
    }

     
    })
    
  })

  init.mainPost();
  init.mainComment();
  

  //signOut処理
  const signOut1 = document.getElementById("signOut");
  signOut1.addEventListener('click', function () {
    const auth = getAuth();
    signOut(auth).then(() => {
      location.href("login.html");
      console.log("signOut Success!");
    }).catch((error) => {
      console.error("signOut failed!" + error);
    });
  })
  //ここまで
  const taskList = document.getElementsByClassName("task_list")[0];

  const auth = getAuth();
  onAuthStateChanged(auth, (user)=>{
    const displayName = user.displayName
    const greet = document.getElementById("greeting");
    greet.innerHTML = `Welcome SignIn User ${displayName}!`;
  })
  
</script>

</html>